atlassian-python-api==4.0.7
dacite==1.8.1
smbprotocol== 1.14.0
xmlschema==3.4.3
pytest-cov==6.0.0
#### required for running tests locally
#pytest==8.3.4
#pytest-mock==3.14.0
#flake8==7.1.1
#apache-airflow==2.10.2
#flask-session==0.5.0
#psycopg2-binary==2.9.9
#apache-airflow-providers-google==10.26.0
#apache-airflow-providers-postgres==5.14.0
#apache-airflow-providers-ssh==4.0.0
#apache-airflow-providers-cncf-kubernetes==10.1.0
#kubernetes==31.0.0